[workspace]
members = [
    "src/polodb_bson",
    "src/polodb_core",
    "src/polodb_cli",
    "src/polodb_clib",
    "src/polodb_line_diff",
    "gopolodb/lib/polodb"
]

exclude = [
    "build",
    "obj",
]
