[workspace]
resolver = "2"
members = [
    "src/librocksdb-sys",
    "src/polodb",
    "src/polodb_core",
    "src/polodb_line_diff",
    "py-polodb",
]

exclude = ["build", "obj"]

[patch.crates-io]
polodb-librocksdb-sys = { path = "src/librocksdb-sys" }