[package]
name = "polodb_core"
version = "0.9.0"
authors = ["Vincent Chan <okcdz@diverse.space>"]
license = "MIT"
edition = "2018"
repository = "https://github.com/vincentdchan/PoloDB"
description = "PoloDB is an embedded JSON-based database"
keywords = ["database", "embedded", "cross-platform"]

[lib]
name="polodb_core"
path="lib.rs"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libc = "0.2"
polodb_bson = { path = "../polodb_bson" }
crc64fast = "1.0"

[dev-dependencies]
polodb_line_diff = { path = "../polodb_line_diff" }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["fileapi"] }

[features]
default = []

log = []
