name: Build Release

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  Ubuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Run Rust tests
        run: cargo test --release --verbose --workspace
      - name: Build Clib
        run: cargo build --release --package polodb_clib
      - uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "target/release/libpolodb_clib.a;target/release/libpolodb_clib.dylib"
          draft: true
