name: Build Release

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  MacOS:
    name: Build on MacOS
    permissions: write-all
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Run Rust tests
        run: cargo test --release --verbose --workspace
      - name: Build Clib
        run: cargo build --release --package polodb_clib
      - name: Copy files
        run: |
          cp target/release/libpolodb_clib.a libpolodb_clib-darwin-x64.a
          cp target/release/libpolodb_clib.dylib libpolodb_clib-darwin-x64.dylib
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            libpolodb_clib-darwin-x64.a
            libpolodb_clib-darwin-x64.dylib

  Ubuntu:
    name: Build on Ubuntu
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Run Rust tests
        run: cargo test --release --verbose --workspace
      - name: Build Clib
        run: cargo build --release --package polodb_clib
      - name: Copy files
        run: |
          cp target/release/libpolodb_clib.a libpolodb_clib-linux-x64.a
          cp target/release/libpolodb_clib.so libpolodb_clib-linux-x64.so
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            libpolodb_clib-linux-x64.a
            libpolodb_clib-linux-x64.so

  Windows:
    name: Build on Windows
    permissions: write-all
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Run Rust tests
        run: cargo test --release --verbose --workspace
      - name: Build Clib
        run: cargo build --release --package polodb_clib
      - name: Copy files
        run: |
          Copy-Item "target/release/polodb_clib.lib" -Destination "polodb_clib-win32-x64.lib"
          Copy-Item "target/release/polodb_clib.dll" -Destination "polodb_clib-win32-x64.dll"
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            polodb_clib-win32-x64.lib
            polodb_clib-win32-x64.dll
